/* loading */

//@import (reference) '~src/antd.less';
@import (reference) '~src/antd.less';

.wrapper {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 100%;
  //  background-color: blue;
}

.content {
  /* display: flex;
  justify-content: center;
  align-items: center;*/
  width: 100%;
  background-color: @layout-header-background !important;
}

// Light Theme
.badge_idle_light {
  sup {
    color: @gray-1;
    background-color: @gray-10;
  }
}

.badge_low_light {
  sup {
    color: @gray-1;
    background-color: @blue-6;
  }
}

.badge_normal_light {
  sup {
    color: @gray-1;
    background-color: @green-6;
  }
}

.badge_high_light {
  sup {
    color: @gray-1;
    background-color: @red-6;
  }
}

// Dark Theme
.badge_idle_dark {
  sup {
    color: @gray-10;
    background-color: @gray-1;
  }
}

.badge_low_dark {
  sup {
    color: @gray-1;
    background-color: @blue-6;
  }
}

.badge_normal_dark {
  sup {
    color: @gray-1;
    background-color: @green-6;
  }
}

.badge_high_dark {
  sup {
    color: @gray-1;
    background-color: @red-6;
  }
}
