/* cajas */

@import '~src/styles/antd/antd.less';

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterWrapper {
  align-self: start;
}

.filter {
  text-align: right;

  .filterPlacerholder {
    color: @primary-color;
  }
}

.filterDropdown {
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
}
