/* cajas */

@import (reference) '~src/styles/antd/antd.less';

.filterWrapper {
  width: 80vw;
}

.filter {
  text-align: right;

  .filterPlacerholder {
    color: @primary-color;
  }
}

.filterDropdown {
  background-color: red;
}
