/* global */

@import '~src/styles/antd/antd.less';

.fixed {
  position: fixed;
  z-index: 10;
}

.sticky {
  position: sticky;
  z-index: 10;
  top: 0; /* required */
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shadow {
  box-shadow: 2px 2px 5px 0px @shadow-color;
}
