/* ingresar-cajas */

@import (reference) '~src/styles/global.less';
@import (reference) '~src/components/app/style.module.less';

.filterWrapper {
  //width: 80vw;
  width: 100%;
  //  margin-bottom: 15px;
}

.filter {
  text-align: right;

  .filterPlacerholder {
    color: @primary-color;
  }
}

.filterDropdown {
  background-color: red;
}

:global .ant-table-body {
  min-height: calc(400px + @scrollbar) !important;
}
