/* inicio */

@import (reference) '~src/styles/global.less';

.wrapper {
  flex-wrap: wrap;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 350px;
  max-width: 95%;
  width: 95%;
  min-height: 300px;
  height: 95%;
  margin: 8px !important; //16px !important;

  :global .ant-card-head {
    text-align: left !important;
  }
}

.header {
  font-size: 22px;
}
