/* editable cell */

@import (reference) '~src/styles/global.less';

.cell {
  &:global.ant-table-cell-fix-right {
    padding: 0 !important;
  }
  > span {
    display: flex !important;
    align-items: center;
    height: 100%;
  }
}

#inputStyle {
  height: 22px !important;
  min-height: 22px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0% !important;
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center !important;
  padding: 0 !important;
}

.formItem {
  div {
    line-height: 22px !important;
    min-height: 22px !important;
    max-height: 22px !important;
  }

  :global .ant-col.ant-form-item-control {
    :global .ant-form-item-explain {
      display: none;
    }
  }

  .input {
    #inputStyle();

    width: 90% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    :global .ant-form-item-control-input-content {
      margin-top: 0px !important;
    }

    :global .ant-select-selector {
      padding-right: 18px !important;
      padding-left: 18px !important;
    }

    :global .ant-select-selector,
    :global .ant-select-selection-search,
    :global .ant-select-selection-search-input {
      #inputStyle();
      line-height: 22.5px !important;
      min-height: 22.5px !important;
      max-height: 22.5px !important;
    }

    :global .ant-select-selection-search {
      right: 11px !important;
    }

    :global .ant-select-selection-search-input {
      padding: 0px 25px !important;
    }

    :global .ant-select-selection-item {
      padding: 0px 30px !important;
      line-height: 22px !important;
      min-height: 22px !important;
      max-height: 22px !important;
    }

    :global .ant-picker-suffix {
      margin: 0 !important;
    }

    :global .ant-picker-input {
      position: absolute;
      width: auto !important;
      padding: 0 0 !important;
      left: 32px !important;
      right: 18px !important;

      > input {
        // left: 18px;
        padding: 0px 6px !important;
        text-align: center;
      }
    }

    :global .ant-select-arrow {
      right: 17px !important;
    }

    :global .ant-form-item-children-icon {
      width: 20px !important;
      right: 6px !important;
    }
  }
}

input.input {
  padding: 0 18px !important;
}

.option {
  :global .ant-select-item-option-content {
    text-align: center !important;
  }
}
