/* content info */

@import (reference) '~src/styles/global.less';
@import (reference) '~src/components/app/style.module.less';

.wrapper {
  justify-content: space-between !important;
}

.contentHeader {
  align-self: flex-end;
  // margin-bottom: 15px !important;

  :global(.ant-breadcrumb-link) {
    font-size: 16px;
    font-weight: 500;
  }
}
